.scrollbar {
	max-height: 400px;
	overflow-y: auto;
}

/* customize scrollbar css */
.scrollbar-custom::-webkit-scrollbar {
	width: 12px;
	background-color: black;
}

.scrollbar-custom::-webkit-scrollbar:horizontal {
	height: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
	background-color: pink;
	border: 1px grey solid;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 6px black inset;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background-color: beige;
	border: 1px solid #a5a5a5;
	border-radius: 5px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
	background-color: white;
	border: 1px solid #333333;
}

.scrollbar-custom::-webkit-scrollbar-thumb:active {
	background-color: white;
	border: 1px solid #333333;
}
